{
    admin :2019
    
    # فعال کردن حالت debug برای مشاهده لاگ‌ها
    debug

    # تعریف یک CA داخلی با شناسه "neda"
    pki {
        ca neda {
            name "Neda CA" # نام CA داخلی
            root {
                cert /etc/ssl/ca.crt # مسیر گواهی ریشه CA
                key /etc/ssl/ca.key  # مسیر کلید خصوصی CA
            }
        }
    }
}

import /etc/caddy/sites/*.Caddyfile